ABYSS_KEY="api_key"
VIDHIDE_KEY="api_key"
VIDHIDE_SESSID="session_id"
UQLOAD_KEY="api_key"
UQLOAD_SESSID="session_id"
SENDVID_KEY="username:password"
WEBSITE_URL=""
MEDIA_PATH=""
TG_TOKEN=""
TG_ENDPOINT=""
ENV="DEV"